<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\FlaskSites\Avanzamenti_produzione" />
    <add key="WSGI_HANDLER" value="wsgi.app" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\FlaskSites\Avanzamenti_produzione\logs\wfastcgi.log" />
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\FlaskSites\Avanzamenti_produzione\.venv\Scripts\python.exe|C:\inetpub\wwwroot\FlaskSites\Avanzamenti_produzione\.venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>