<!DOCTYPE html>
<html class="vw-100 h-auto"
      data-bs-theme="light"
      lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Avanzamenti di produzione</title>
    <meta property="og:type"
          content="website">
    <meta name="description"
          content="Templates bootstrap studio per gli avanzamenti di produzione">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/css/Login-Form-Basic-icons.css') }}">
</head>

<body class="w-100 h-auto">
<h1 class="d-flex justify-content-end mt-1 mx-2"
    style="width: auto;height: auto;"><img class="img-fluid"
                                           width="250"
                                           height="89"
                                           src="{{ url_for('static', filename='/assets/img/logo_completo.jpg') }}"
                                           alt="logo_completo"></h1>
<main style="width: auto;height: auto;">
    <section class="position-relative py-4 py-xl-5"
             style="width: auto;height: auto;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Log in ordini di produzione</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary my-4 bs-icon">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        height="1em"
                                        viewBox="0 0 24 24"
                                        width="1em"
                                        fill="currentColor">
                                    <g>
                                        <rect fill="none"
                                              height="24"
                                              width="24"></rect>
                                    </g>
                                    <g>
                                        <path
                                                d="M22,10v12H2V10l7-3v2l5-2l0,0l0,3H22z M17.2,8.5L18,2h3l0.8,6.5H17.2z M11,18h2v-4h-2V18z M7,18h2v-4H7V18z M17,14h-2v4h2 V14z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <form class="text-center"
                                  method="post"
                                  autocomplete="off">
                                <div class="mb-3">
                                    <label for="login_code"
                                           class="form-label visually-hidden">Codice accesso</label>
                                    <input
                                            id="login_code"
                                            name="login_code"
                                            type="password"
                                            class="form-control form-control-lg text-center"
                                            placeholder="Codice accesso"
                                            autofocus
                                            required
                                            autocomplete="off"
                                            autocapitalize="characters"
                                            spellcheck="false"
                                    >
                                </div>

                                {% if error %}
                                    <div class="alert alert-danger py-2"
                                         role="alert">
                                        {{ error }}
                                    </div>
                                {% endif %}

                                <input
                                        class="btn btn-lg btn-primary w-100 h-100"
                                        type="submit"
                                        name="Login"
                                        value="Login"
                                />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
{% block extra_js %}{% endblock %}
</body>

</html>