<div class="container-fluid px-0">
    <div class="row mb-0 g-3 align-items-end">
        <div class="col-12 col-xl-6">
            <input type="text"
                   id="filter-acq-ordini-rifglobale"
                   class="form-control"
                   placeholder="Filtra per ordine produzione (RifRegistraz.NumProgrRiga)..."
                   autocomplete="off">

            <input type="hidden"
                   id="filter-acq-ordini-rif-montaggio-sl"
                   class="js-table-filter"
                   data-target-table="acquisti_ordini_montaggio_sl_table"
                   data-filter-mode="dataset"
                   data-filter-key="ordineproduzione"
                   autocomplete="off">

            <input type="hidden"
                   id="filter-acq-ordini-rif-montaggio-m"
                   class="js-table-filter"
                   data-target-table="acquisti_ordini_montaggio_m_table"
                   data-filter-mode="dataset"
                   data-filter-key="ordineproduzione"
                   autocomplete="off">

            <input type="hidden"
                   id="filter-acq-ordini-rif-officina"
                   class="js-table-filter"
                   data-target-table="acquisti_ordini_officina_table"
                   data-filter-mode="dataset"
                   data-filter-key="ordineproduzione"
                   autocomplete="off">

            <input type="hidden"
                   id="filter-acq-ordini-rif-carpenteria"
                   class="js-table-filter"
                   data-target-table="acquisti_ordini_carpenteria_table"
                   data-filter-mode="dataset"
                   data-filter-key="ordineproduzione"
                   autocomplete="off">
        </div>
    </div>
</div>