<div class="container-fluid px-0">
    <div class="row mb-0 g-3 align-items-end">
        <div class="col">
            <input type="text"
                   id="filter-acq-materiale-codart"
                   class="form-control js-table-filter"
                   placeholder="Filtra per codice..."
                   data-target-table="acquisti_materiale_table"
                   data-filter-mode="dataset"
                   data-filter-key="codart"
                   autocomplete="off">
        </div>

        <div class="col">
            <input type="text"
                   id="filter-acq-materiale-variante"
                   class="form-control js-table-filter"
                   placeholder="Filtra per variante..."
                   data-target-table="acquisti_materiale_table"
                   data-filter-mode="dataset"
                   data-filter-key="variante"
                   autocomplete="off">
        </div>

        <div class="col">
            <input type="text"
                   id="filter-acq-materiale-desart"
                   class="form-control js-table-filter"
                   placeholder="Filtra per descrizione..."
                   data-target-table="acquisti_materiale_table"
                   data-filter-mode="dataset"
                   data-filter-key="desart"
                   autocomplete="off">
        </div>

        <div class="col">
            <div class="form-check mb-2">
                <input class="form-check-input js-table-filter-checkbox"
                       type="checkbox"
                       id="filter-acq-materiale-critical"
                       data-target-table="acquisti_materiale_table"
                       data-filter-key="rem-critical">
                <label class="form-check-label"
                       for="filter-acq-materiale-critical">
                    Rimanenza &le; 0
                </label>
            </div>
        </div>

        <div class="col">
            <div class="form-check mb-2">
                <input class="form-check-input js-table-filter-checkbox"
                       type="checkbox"
                       id="filter-acq-materiale-understock"
                       data-target-table="acquisti_materiale_table"
                       data-filter-key="rem-understock">
                <label class="form-check-label"
                       for="filter-acq-materiale-understock">
                    Rimanenza &le; Scorta
                </label>
            </div>
        </div>

        <div class="col">
            <button class="btn btn-outline-success w-100 w-xl-auto"
                    type="button"
                    id="btn-export-acq-materiale">
                Export Excel
            </button>
        </div>
    </div>
</div>
</div>