{% for singolo_odp in odp %}
    {% if singolo_odp.GestioneMatricola == "no" and singolo_odp.StatoOrdine == "Pianificata" %}
        <tr data-row-key="{{ singolo_odp.IdDocumento }}|{{ singolo_odp.IdRiga }}"
            data-iddocumento="{{ singolo_odp.IdDocumento }}"
            data-idriga="{{ singolo_odp.IdRiga }}"
            data-ordine="{{ singolo_odp.RifRegistraz }}"
            data-codice="{{ singolo_odp.CodArt }}"
            data-descrizione="{{ singolo_odp.DesArt }}"
            data-quantita="{{ singolo_odp.QtyDaLavorare or singolo_odp.Quantita }}"
            data-quantita-totale="{{ singolo_odp.Quantita }}"
            data-fase="{{ singolo_odp.FaseAttiva }}"
            data-datacons="{{ singolo_odp.DataFineSched }}"
            data-risorsaprod="{{ singolo_odp.RisorsaAttiva }}">
            <td>{{ singolo_odp.RifRegistraz }}</td>
            <td>{{ singolo_odp.CodArt }}</td>
            <td>{{ singolo_odp.DesArt }}</td>
            <td>{{ singolo_odp.QtyDaLavorare or singolo_odp.Quantita }}</td>
            <td>{{ singolo_odp.DataFineSched | db_date("%Y-%m-%d %H:%M:%S","%d/%m/%Y") }}</td>
            <td>{{ singolo_odp.RisorsaAttiva | db_list_display }}</td>
        </tr>
    {% endif %}
{% endfor %}