{% for singolo_odp in odp %}
    {% if singolo_odp.GestioneMatricola == 'no' and singolo_odp.StatoOrdine != "Pianificata" %}
        <tr data-ordine="{{ singolo_odp.RifRegistraz }}"
            data-codice="{{ singolo_odp.CodArt }}"
            data-descrizione="{{ singolo_odp.DesArt }}"
            data-quantita="{{ singolo_odp.Quantita }}"
            data-datacons="{{ singolo_odp.DataFineSched }}"
            data-risorsaprod="{{ singolo_odp.CodRisorsaProd }}"
            data-stato="{{ singolo_odp.StatoOrdine }}"
        >
            <td>{{ singolo_odp.RifRegistraz }}</td>
            <td>
                <button
                        type="button"
                        class="btn btn-link p-0 text-decoration-none open-materiali-modal"
                        data-codart="{{ singolo_odp.CodArt|e }}"
                        data-fase-attiva="{{ singolo_odp.FaseAttiva }}"
                        data-distinta='{{ singolo_odp.DistintaMateriale|tojson }}'>
                    {{ singolo_odp.CodArt }}
                </button>
            </td>
            <td>{{ singolo_odp.DesArt }}</td>
            <td>{{ singolo_odp.Quantita }}</td>
            <td>{{ singolo_odp.DataFineSched | db_date("%Y-%m-%d %H:%M:%S","%d/%m/%Y") }}</td>
            <td>{{ singolo_odp.CodRisorsaProd | db_list_display }}</td>
            <td data-col="stato">{{ singolo_odp.StatoOrdine }}</td>
        </tr>
    {% endif %}
{% endfor %}