{% for singolo_odp in odp %}
    {% if singolo_odp.StatoOrdine != "Pianificata" and singolo_odp.StatoOrdine != "Chiusa" %}
        <tr data-row-key="{{ singolo_odp.IdDocumento }}|{{ singolo_odp.NumProgrRiga }}"
            data-tipodocumento="{{ singolo_odp.CodTipoDoc }}"
            data-iddocumento="{{ singolo_odp.IdDocumento }}"
            data-numprogrriga="{{ singolo_odp.NumProgrRiga }}"
            data-idriga="{{ singolo_odp.IdRiga }}"
            data-variante="{{ singolo_odp.VarianteArt }}"
            data-ordine="{{ singolo_odp.RifRegistraz }}.{{ singolo_odp.NumProgrRiga }}"
            data-codice="{{ singolo_odp.CodArt }}"
            data-indicemodifica="{{ singolo_odp.IndiceModifica }}"
            data-descrizione="{{ singolo_odp.DesArt }}"
            data-quantita="{{ singolo_odp.QtyDaLavorare or singolo_odp.Quantita }}"
            data-quantita-totale="{{ singolo_odp.Quantita }}"
            data-fase="{{ singolo_odp.FaseAttiva }}"
            data-datacons="{{ singolo_odp.DataFineSched }}"
            data-risorsaprod="{{ singolo_odp.RisorsaAttiva }}"
            data-tempoattrezzaggio="{{ singolo_odp.AttrezzaggioAttivo }}"
            data-statoordine="{{ singolo_odp.StatoOrdine }}">
            <td>{{ singolo_odp.RifRegistraz }}.{{ singolo_odp.NumProgrRiga }}</td>
            <td>
                <button
                        type="button"
                        class="btn btn-link p-0 text-decoration-none open-materiali-modal"
                        data-codart="{{ singolo_odp.CodArt|e }}"
                        data-variante="{{ singolo_odp.VarianteArt|e }}"
                        data-fase-attiva="{{ singolo_odp.FaseAttiva }}"
                        data-distinta='{{ singolo_odp.DistintaMateriale|tojson }}'>
                    {{ singolo_odp.CodArt }}
                </button>
            </td>
            {% set rev = singolo_odp.IndiceModifica %}
            <td>{{ "-" if rev is none or (rev|string|trim|upper) == "X" else rev }}</td>
            <td>{{ singolo_odp.VarianteArt }}</td>
            <td>{{ singolo_odp.DesArt }}</td>
            <td>{{ singolo_odp.QtyDaLavorare or singolo_odp.Quantita }}</td>
            <td>{{ singolo_odp.DataFineSched | db_date("%Y-%m-%d %H:%M:%S","%d/%m/%Y") }}</td>
            <td>{{ singolo_odp.AttrezzaggioAttivo }}</td>
            <td>{{ singolo_odp.RisorsaAttiva }}</td>
            <td data-col="stato">{{ singolo_odp.StatoOrdine }}</td>
        </tr>
    {% endif %}
{% endfor %}