{% for singolo_odp in odp %}
    {% if singolo_odp.StatoOrdine == "Pianificata" %}
        {% set distinta_raw = singolo_odp.DistintaMateriale|string|trim if singolo_odp.DistintaMateriale is not none else "" %}
        {% set distinta_missing = not distinta_raw or distinta_raw|lower in ["[]", "null", "none", "\"\""] %}
        {% set rev = singolo_odp.IndiceModifica %}
        <tr data-row-key="{{ singolo_odp.IdDocumento }}|{{ singolo_odp.NumProgrRiga }}"
            data-tipodocumento="{{ singolo_odp.CodTipoDoc }}"
            data-iddocumento="{{ singolo_odp.IdDocumento }}"
            data-numprogrriga="{{ singolo_odp.NumProgrRiga }}"
            data-idriga="{{ singolo_odp.IdRiga }}"
            data-variante="{{ singolo_odp.VarianteArt }}"
            data-ordine="{{ singolo_odp.RifRegistraz }}.{{ singolo_odp.NumProgrRiga }}"
            data-codice="{{ singolo_odp.CodArt }}"
            data-indicemodifica="{{ singolo_odp.IndiceModifica }}"
            data-descrizione="{{ singolo_odp.DesArt }}"
            data-quantita="{{ singolo_odp.QtyDaLavorare or singolo_odp.Quantita }}"
            data-quantita-totale="{{ singolo_odp.Quantita }}"
            data-fase="{{ singolo_odp.FaseAttiva }}"
            data-datacons="{{ singolo_odp.DataFineSched }}"
            data-lavorazione="{{ singolo_odp.LavorazioneAttiva }}"
            data-tempoattrezzaggio="{{ singolo_odp.AttrezzaggioAttivo }}"
            data-distinta='{{ singolo_odp.DistintaMateriale|tojson }}'
            data-distinta-missing="{{ '1' if distinta_missing else '0' }}"
            class="{{ 'table-danger' if distinta_missing else '' }}"
            data-risorsaprod="{{ singolo_odp.RisorsaAttiva }}">
            <td>
                {% if distinta_missing %}
                    <span class="text-danger fw-bold">
                        {{ singolo_odp.RifRegistraz }}.{{ singolo_odp.NumProgrRiga }}
                    </span>
                    <i class="bi bi-exclamation-triangle-fill text-danger ms-1"
                       title="Distinta materiale assente"></i>
                {% else %}
                    {{ singolo_odp.RifRegistraz }}.{{ singolo_odp.NumProgrRiga }}
                {% endif %}
            </td>
            <td>{{ singolo_odp.CodArt }}</td>
            <td>{{ "-" if rev is none or (rev|string|trim|upper) == "X" else rev }}</td>
            <td>{{ singolo_odp.VarianteArt }}</td>
            <td>{{ singolo_odp.DesArt }}</td>
            <td>{{ singolo_odp.QtyDaLavorare or singolo_odp.Quantita }}</td>
            <td>{{ singolo_odp.DataFineSched | db_date("%Y-%m-%d %H:%M:%S","%d/%m/%Y") }}</td>
            <td>{{ singolo_odp.AttrezzaggioAttivo }}</td>
            <td>{{ singolo_odp.RisorsaAttiva }}</td>
        </tr>
    {% endif %}
{% endfor %}